@charset "UTF-8";
#about,
#Label-choose,
#store {
  height: 100vh;
  width: 100%;
}

#FAQ {
  width: 100%;
  min-height: 100vh;
}

/* 登入畫面 */
#all {
  display: none;
}

#loading {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 9999;
}

@-webkit-keyframes progress {
  from {
    width: 5%;
    left: -5%;
  }
  to {
    width: 75%;
    left: 105%;
  }
}

@keyframes progress {
  from {
    width: 5%;
    left: -5%;
  }
  to {
    width: 75%;
    left: 105%;
  }
}

.navbar {
  width: 100%;
  height: 100px;
  background-image: url(./img/NAV-05.jpg);
  background-size: cover;
}

.logo {
  width: 80px;
  border-radius: 50%;
}

@media (max-width: 1420px) {
  .logo {
    position: unset !important;
    -webkit-transform: unset !important;
            transform: unset !important;
    margin-left: 48px !important;
  }
}

@media (max-width: 1200px) {
  .logo {
    position: absolute !important;
    -webkit-transform: translate(-50%, 0) !important;
            transform: translate(-50%, 0) !important;
    left: 50%;
    margin-left: 0px !important;
  }
}

@media (max-width: 500px) {
  .logo {
    width: 60px;
  }
  .web-link {
    padding-left: 16px !important;
  }
  .web-icon {
    width: 20px;
  }
}

.links > img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.nav-item > a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #008cff !important;
}

.dropdown-menu {
  position: absolute;
  display: none;
  
  right: 0;
  padding: 0;
  
  background-color: #34332f;
  
  border-radius: 0.25rem;
}

#navbarDropdown {
  display: none;
}

@media (max-width: 1200px) {
  #navbarDropdown {
    display: block;
    
  }
}

@media (max-width: 920px) {
  .about-info {
    width: 100% !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    left: 50% !important;
    -webkit-transform: translate(-50%, 0) !important;
            transform: translate(-50%, 0) !important;
  }
  .store-info {
    background-color: black;
    border: none !important;
  }
}
@media (max-width: 500px) {
  .NL {
    font-size: 40px !important;
  }
  .about-word {
    font-size: 18px !important;
  }
  .store-info-text {
    font-size: 20px !important;
  }
}
.choose-circle {
  width: 65vh;
  height: 65vh;
  /* border: 50px solid #CD2525; */
  /* 還沒下陰影 */
  background-image: url(img/圓圈無陰影.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.choose-line {
  width: 35%;
  height: 5px;
  background: white;
  position: absolute;
  top: 5%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.company {
  width: 180px;
  height: 180px;
  border-radius: 10px;
}

.rwdmap {
  display: none;
}
/* store */
@media (max-width: 770px) {
  .store-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 48px !important;
    padding-top: 0 !important;
  }
  .store-logo {
    width: 100px !important;
    height: 100px !important;
    margin-bottom: 16px !important;
  }
  .map {
    display: none;
  }
  .rwdmap {
    display: block;
  }
  .info {
    width: 100% !important;
    margin-left: 0 !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .location {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0 !important;
  }
  /* FAQ */
  .FAQ-title {
    font-size: 24px !important;
  }
  .FAQ-title-line {
    width: 50px !important;
  }
  .Q-text {
    font-size: 14px !important;
  }
  .A-text {
    font-size: 12px;
  }
  
}




/*# sourceMappingURL=do.css.map */