@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 微軟正黑體;
}

#about,
#Label-choose,
#store {
  height: 100vh;
  width: 100%;
}

#FAQ {
  width: 100%;
  min-height: 100vh;
}

/* 登入畫面 */
#all {
  display: none;
}

#loading {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 9999;
}

@-webkit-keyframes progress {
  from {
    width: 5%;
    left: -5%;
  }
  to {
    width: 75%;
    left: 105%;
  }
}

@keyframes progress {
  from {
    width: 5%;
    left: -5%;
  }
  to {
    width: 75%;
    left: 105%;
  }
}

.navbar {
  width: 100%;
  height: 100px;
  background-image: url(./img/NAV-05.jpg);
  background-size: cover;
}

.logo {
  width: 80px;
  border-radius: 50%;
}

@media (max-width: 1420px) {
  .logo {
    position: unset !important;
    -webkit-transform: unset !important;
            transform: unset !important;
    margin-left: 48px;
  }
}

@media (max-width: 1200px) {
  .logo {
    position: absolute !important;
    -webkit-transform: translate(-50%, 0) !important;
            transform: translate(-50%, 0) !important;
    left: 50%;
  }
}

.links > img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.nav-item > a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #008cff !important;
}

.dropdown-menu {
  position: absolute;
  z-index: 10;
  display: none;
  min-width: 160px;
  padding: 0;
  font-size: 20px;
  background-color: #34332f;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

#navbarDropdown {
  display: none;
}

@media (max-width: 1200px) {
  #navbarDropdown {
    display: block;
  }
}

@media (max-width: 920px) {
  .about-info {
    width: 100% !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    left: 50% !important;
    -webkit-transform: translate(-50%, 0) !important;
            transform: translate(-50%, 0) !important;
  }
  .store-info {
    background-color: black;
    border: none !important;
  }
}

.choose-circle {
  width: 65vh;
  height: 65vh;
  /* border: 50px solid #CD2525; */
  /* 還沒下陰影 */
  background-image: url(img/圓圈無陰影.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.choose-line {
  width: 35%;
  height: 5px;
  background: white;
  position: absolute;
  top: 5%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.company {
  width: 180px;
  height: 180px;
  border-radius: 10px;
}

.rwdmap {
  display: none;
}

@media (max-width: 770px) {
  .store-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 48px !important;
    padding-top: 0 !important;
  }
  .store-logo {
    width: 100px !important;
    height: 100px !important;
    margin-bottom: 16px !important;
  }
  .map {
    display: none;
  }
  .rwdmap {
    display: block;
  }
  .info {
    width: 100% !important;
    margin-left: 0 !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .location {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0 !important;
  }
}

.disableleft-block * {
  display: none !important;
}

.byebye {
  width: 0 !important;
  height: 0 !important;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.show {
  width: 110px !important;
  height: 55px !important;
  font-size: 15px !important;
  color: white;
  font-weight: bold !important;
  font-size: 30px !important;
}

.swiper_settimeout0 {
  opacity: 0;
}

.showswiper {
  width: 70% !important;
}

.showleft-block {
  display: block;
}

.steps > .progress {
  height: 2px;
  top: 80%;
  background-color: red;
}

.steps > .step.hover:hover > img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 1;
  -webkit-box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.75);
          box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.75);
}

.steps > .step.hover:hover > .circle {
  background-color: white;
  border: 5px solid red;
  margin-bottom: 8px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.steps > .step.hover:hover > span {
  opacity: 1;
  font-size: 18px;
}

.steps > .step.click > img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 1;
  -webkit-box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.75);
          box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.75);
}

.steps > .step.click > .circle {
  background-color: white;
  border: 5px solid red;
  margin-bottom: 8px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.steps > .step.click > span {
  opacity: 1;
  font-size: 18px;
}

.steps > .step > img {
  opacity: 0.3;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.steps > .step > .circle {
  background-color: white;
  margin-bottom: 8px;
  width: 25px;
  height: 25px;
  margin-top: 45px;
}

.steps > .step > span {
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  color: white;
}

#block1 {
  background-color: #34332f;
}

#block5 {
  background-color: #34332f;
}

.containerr {
  max-width: 1920px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 65px 0px 130px;
}

.containerr.block-1 {
  max-width: 1295px;
  margin: 0 auto;
}

.containerr.block-1 > h3 {
  margin-left: 0;
  color: white;
  border-color: white;
}

.containerr.block-3 {
  max-width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.containerr.block-3 > .land-block {
  background-image: url("./logo_back-02.png");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.containerr.block-3 > .land-block > img {
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
  width: 100%;
}

.containerr.block-3 > .land-block > .radio_on_car {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
}

.containerr.block-3 > .land-block > .radio_on_car > input {
  width: 30px;
  height: 30px;
}

.containerr.block-3 > .land-block > .radio_on_car > label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 0px;
  height: 0px;
  font-size: 0;
  background-color: black;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.containerr.block-3 > .land-block > .radio_on_car:nth-child(2) {
  left: 25%;
  top: 85%;
}

.containerr.block-3 > .land-block > .radio_on_car:nth-child(3) {
  left: 25%;
  top: 72%;
}

.containerr.block-3 > .land-block > .radio_on_car:nth-child(4) {
  left: 45%;
  top: 72%;
}

.containerr.block-3 > .land-block > .radio_on_car:nth-child(5) {
  left: 52%;
  top: 80%;
}

.containerr.block-3 > .land-block > .radio_on_car:nth-child(6) {
  left: 60%;
  top: 78%;
}

.containerr.block-3 > .land-block > .radio_on_car:nth-child(7) {
  left: 89%;
  top: 68%;
}

.containerr.block-3 > .land-block > .radio_on_car:nth-child(8) {
  left: 5%;
}

.containerr.block-4 {
  max-width: 1295px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 87px;
}

.containerr.block-4 > .left-block {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 30%;
  padding-right: 40px;
}

.containerr.block-4 > .left-block > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 35px;
}

.containerr.block-4 > .left-block > span::before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: white;
  border: 8px solid #29a8df;
  margin-right: 10px;
}

.containerr.block-4 > .left-block > a {
  color: black;
  text-decoration: none;
}

.containerr.block-4 > .left-block > .btn-block {
  margin-bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.containerr.block-4 > .left-block > .btn-block > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 110px;
  border-radius: 15px;
  margin-right: 15px;
  height: 42px;
  background-color: #e3a8a8;
  font-size: 18px;
}

.containerr.block-4 > .left-block > .btn-block > div.active {
  background-color: #ae2020;
  color: white;
}

.containerr.block-4 > .left-block > .swiper {
  width: 70%;
}

.containerr.block-4 > .testtttt {
  width: 0%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  max-width: 880px;
  max-height: 535px;
}

.containerr.block-4 > .testtttt > .carSwiper {
  -webkit-box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.75);
          box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
}

.containerr.block-4 > .testtttt > .carSwiper > .swiper-wrapper > .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.containerr.block-4 > .testtttt > .carSwiper > .swiper-wrapper > .swiper-slide > img {
  display: block;
  width: 100%;
  height: 100%;
}

.containerr.block-4 > iframe {
  margin-top: 42px;
  width: 100%;
  height: 45vw;
}

.containerr.block-5 {
  max-width: 1600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.containerr.block-5 > h3 {
  margin-bottom: 10%;
  margin-left: 0;
  color: white;
  border-color: white;
}

.containerr > h3 {
  margin-left: 150px;
  font-size: 30px;
  font-weight: bold;
  border-top: 3px solid #000;
  width: 120px;
  margin-bottom: 50px;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
}

.intro > img {
  width: 63%;
}

.intro > .text-intro {
  background-color: rgba(255, 255, 255, 0.6);
  width: 37%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 58px 40px;
  max-height: 330px;
}

.intro > .text-intro > span {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

.intro > .text-intro > ul {
  font-size: 20px;
  list-style-type: none;
  padding: 0;
}

.intro > .text-intro > ul > li {
  margin-bottom: 32px;
}

.intro.top {
  margin-bottom: 200px;
}

.intro.top .text-intro {
  -webkit-transform: translateX(-7%);
          transform: translateX(-7%);
}

.intro.bot .text-intro {
  -webkit-transform: translateX(7%);
          transform: translateX(7%);
}

.fa,
.fas {
  padding: 0 15px 0 10px;
}
/*# sourceMappingURL=index.css.map */