* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 微軟正黑體;
}
h3 {
  font-size: 30px;
  font-weight: bold;
  border-top: 3px solid #000;
  width: 120px;
  margin-bottom: 50px;
}
#block-1 {
  background-color: chocolate;
}
.containerr {
  max-width: 1920px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 65px 0 130px 0;
  background-color: blanchedalmond;
  &.block-1 {
    max-width: 1280px;
    margin: 0 auto;
  }
  & > h3 {
    margin-left: 150px;
  }
  &.block-2 {
    & > h3 {
      margin: 0 auto;
      margin-bottom: 35px;
    }
    input {
      display: none;
    }
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
      & > .test1 {
        display: flex;
        flex-direction: row;
        & > .testblock {
          background-color: aqua;
          width: 0px;
          height: 500px;
          transition: all 0.2s;
          font-size: 0;
        }
      }
    }
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    #test1:checked ~ .testblock {
      display: block;
      width: 500px;
      font-size: 24px;
    }

    #test2:checked ~ .testblock {
      display: block;
      width: 500px;
      font-size: 24px;
    }
    #test3:checked ~ .testblock {
      display: block;
      width: 500px;
      font-size: 24px;
    }
    #test4:checked ~ .testblock {
      display: block;
      width: 500px;
      font-size: 24px;
    }
    #test5:checked ~ .testblock {
      display: block;
      width: 500px;
      font-size: 24px;
    }
    #test6:checked ~ .testblock {
      display: block;
      width: 500px;
      font-size: 24px;
    }
    #test7:checked ~ .testblock {
      display: block;
      width: 500px;
      font-size: 24px;
    }
    #test8:checked ~ .testblock {
      display: block;
      width: 500px;
      font-size: 24px;
    }
  }
  &.block-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    & > h3 {
      margin: 0;
    }
    & > .land-block {
      background-image: url("./logo_back-02.png");
      background-position:center;
      background-repeat: no-repeat;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      &>img{
        transform: translateY(40%);
      }
    }
  }
}
.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  & > .text-intro {
    background-color: rgba(255, 255, 255, 0.6);
    width: 37%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 58px 40px;
    max-height: 330px;
    > span {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 30px;
    }
    > ul {
      font-size: 20px;
      list-style-type: none;
      padding: 0;
      & > li {
        margin-bottom: 32px;
      }
    }
  }

  &.top {
    margin-bottom: 200px;

    & > .text-intro {
      transform: translateX(-7%);
    }
    & > img {
      width: 63%;
    }
  }
  &.bot {
    .text-intro {
      transform: translateX(7%);
    }
    & > img {
      width: 63%;
    }
  }
}
.fa,
.fas {
  padding: 0 15px 0 10px;
}
