* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 微軟正黑體;
}
//about effect start
.disableleft-block * {
  display: none !important;
}
.byebye {
  width: 0 !important;
  height: 0 !important;
  transition: all 0.5s;
}
.show {
  width: 110px !important;
  height: 55px !important;
  font-size: 15px !important;
  color: white;
  font-weight: bold !important;
  font-size: 30px !important;
}
.swiper_settimeout0 {
  opacity: 0;
}
.showswiper {
  width: 70% !important;
}
.showleft-block {
  display: block;
}
//about effect end
.steps {
  & > .progress {
    height: 2px;
    top:80%;
    background-color: red;
  }
  & > .step {
    &.hover {
      &:hover {
        & > img {
          transform: scale(1.2);
          opacity: 1;
          box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.75);
        }
        & > .circle {
          background-color: white;
          border: 5px solid red;
          margin-bottom: 8px;
          transform: scale(1.5);
        }
        & > span {
          opacity: 1;
          font-size: 18px;
        }
      }
    }
    &.click {
      & > img {
        transform: scale(1.2);
        opacity: 1;
        box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.75);
      }
      & > .circle {
        background-color: white;
        border: 5px solid red;
        margin-bottom: 8px;
        transform: scale(1.5);
      }
      & > span {
        opacity: 1;
        font-size: 18px;
      }
    }
    & > img {
      opacity: 0.3;
      transition: transform 0.5s, opacity 0.5s;
    }
    & > .circle {
      background-color: white;
      margin-bottom: 8px;
      width: 25px;
      height: 25px;
      margin-top: 45px;
    }
    & > span {
      opacity: 0;
      transition: opacity 0.5s;
      color: white;
    }
  }
}
#block1{
background-color: #34332F;
}

#block5{
  background-color: #34332F;
}
.containerr {
  max-width: 1920px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 65px 0px 130px;


  &.block-1 {
    max-width: 1295px;
    margin: 0 auto;
    & > h3 {
      margin-left: 0;
      color: white;
      border-color: white;
    }
  }
  &.block-3 {
    max-width: 1920px;
    display: flex;
    margin-bottom: 8%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    & > .land-block {
      background-image: url("./logo_back-02.png");
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      & > img {
        transform: translateY(40%);
        width: 100%;
      }
      & > .radio_on_car {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        transform: translateY(40%);
        & > input {
          width: 30px;
          height: 30px;
        }
        & > label {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 0px;
          height: 0px;
          font-size: 0;
          background-color: black;
          transition: all 0.5s;
        }
      }
      & > .radio_on_car:nth-child(2) {
        left: 25%;
        top: 85%;
      }
      & > .radio_on_car:nth-child(3) {
        left: 25%;
        top: 72%;
      }
      & > .radio_on_car:nth-child(4) {
        left: 45%;
        top: 72%;
      }
      & > .radio_on_car:nth-child(5) {
        left: 52%;
        top: 80%;
      }
      & > .radio_on_car:nth-child(6) {
        left: 60%;
        top: 78%;
      }
      & > .radio_on_car:nth-child(7) {
        left: 89%;
        top: 68%;
      }
      & > .radio_on_car:nth-child(8) {
        left: 5%;
      }
    }
  }
  &.block-4 {
    max-width: 1295px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 87px;
 
    & > .left-block {
      transition: all 0.5s;
      width: 30%;
      padding-right: 40px;
      & > span {
        display: flex;
        align-items: center;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 35px;
        &::before {
          content: "";
          display: inline-block;
          width: 28px;
          height: 28px;
          border-radius: 50%;
          background-color: white;
          border: 8px solid #29a8df;
          margin-right: 10px;
        }
      }
      & > a {
        color: black;
        text-decoration: none;
      }
      & > .btn-block {
        margin-bottom: 90px;
        display: flex;
        align-items: center;
        & > div {
          &.active{
            background-color:#AE2020 ;
            color: white;
          }
          display: flex;
          align-items: center;
          justify-content: center;
          width: 110px;
          border-radius: 15px;
          margin-right: 15px;
          height: 42px;
          background-color: #e3a8a8;
          font-size: 18px;
        }
      }
      & > .swiper {
        width: 70%;
      }
    }
    & > .testtttt {
      width: 0%;
      transition: all 0.5s;
      max-width: 880px;
      max-height: 535px;
      & > .carSwiper {
        box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.75);
        width: 100%;
        height: 100%;
        & > .swiper-wrapper {
          & > .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;

            /* Center slide text vertically */
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
            & > img {
              display: block;
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
    & > iframe {
      margin-top: 42px;
      width: 100%;
      height: 45vw;
    }
  }
  &.block-5 {
    max-width: 1600px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    & > h3 {
      margin-bottom: 10%;
      margin-left: 0;
      color: white;
      border-color: white;
    }
  }
  & > h3 {
    margin-left: 150px;
    font-size: 30px;
    font-weight: bold;
    border-top: 3px solid #000;
    width: 120px;
    margin-bottom: 50px;
  }
}
.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  & > img {
    width: 63%;
  }
  & > .text-intro {
    background-color: rgba(255, 255, 255, 0.6);
    width: 37%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 58px 40px;
    max-height: 330px;
    > span {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 30px;
    }
    > ul {
      font-size: 20px;
      list-style-type: none;
      padding: 0;
      & > li {
        margin-bottom: 32px;
      }
    }
  }
  &.top {
    margin-bottom: 200px;
    .text-intro {
      transform: translateX(-7%);
    }
  }
  &.bot {
    .text-intro {
      transform: translateX(7%);
    }
  }
}
.fa,
.fas {
  padding: 0 15px 0 10px;
}
