@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 微軟正黑體;
}

.hand-controller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 35%;
  left: 100%;
  -webkit-transform-origin: -100%;
          transform-origin: -100%;
}

.c1 {
  -webkit-transform: translate(-50%) rotate(145deg);
          transform: translate(-50%) rotate(145deg);
  top: 29%;
  left: 95%;
}

.c1 > .company {
  -webkit-transform: rotate(215deg);
          transform: rotate(215deg);
}

.c2 {
  -webkit-transform: translate(-50%) rotate(265deg);
          transform: translate(-50%) rotate(265deg);
}

.c2 > .company {
  -webkit-transform: rotate(95deg);
          transform: rotate(95deg);
}

.c3 {
  -webkit-transform: translate(-50%) rotate(385deg);
          transform: translate(-50%) rotate(385deg);
  left: 96%;
}

.c3 > .company {
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

.company {
  -webkit-transform: rotate(220deg);
          transform: rotate(220deg);
}

.disableleft-block * {
  display: none !important;
}

.byebye {
  width: 0 !important;
  height: 0 !important;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.showlai {
  width: 110px !important;
  height: 55px !important;
  font-size: 15px !important;
  color: white;
  font-weight: bold !important;
  font-size: 30px !important;
}

.swiper_settimeout0 {
  opacity: 0;
}

.showswiper {
  width: 70% !important;
}

@media (max-width: 750px) {
  .showswiper {
    width: 100% !important;
  }
}

.showleft-block {
  display: block;
}

@media (max-width: 750px) {
  .steps {
    display: none !important;
  }
}

.steps > .progresss {
  width: 100%;
  height: 2px;
  top: 80%;
  background-color: red;
}

@media (max-width: 1420px) {
  .steps > .progresss {
    top: 79%;
  }
}

@media (max-width: 1270px) {
  .steps > .progresss {
    top: 78%;
  }
}

@media (max-width: 1100px) {
  .steps > .progresss {
    top: 76%;
  }
}

@media (max-width: 980px) {
  .steps > .progresss {
    top: 74%;
  }
}

@media (max-width: 880px) {
  .steps > .progresss {
    top: 72%;
  }
}

@media (max-width: 800px) {
  .steps > .progresss {
    top: 70%;
  }
}

.steps > .step.hover:hover > img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 1;
  -webkit-box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.75);
          box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.75);
}

.steps > .step.hover:hover > .circle {
  background-color: white;
  border: 5px solid red;
  margin-bottom: 8px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.steps > .step.hover:hover > span {
  opacity: 1;
  font-size: 18px;
}

.steps > .step.click > img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 1;
  -webkit-box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.75);
          box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.75);
}

.steps > .step.click > .circle {
  background-color: white;
  border: 5px solid red;
  margin-bottom: 8px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.steps > .step.click > span {
  opacity: 1;
  font-size: 18px;
}

.steps > .step > img {
  width: 90%;
  margin-right: 50px;
  opacity: 0.3;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.steps > .step > .circle {
  background-color: white;
  margin-bottom: 8px;
  width: 25px;
  height: 25px;
  margin-top: 45px;
}

.steps > .step > span {
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  color: white;
  white-space: nowrap;
}

.mySwiper {
  display: none;
}

@media (max-width: 750px) {
  .mySwiper {
    display: block;
  }
  .mySwiper .redline {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ae2020;
    top: 100%;
  }
  .mySwiper .swiper-wrapper .swiper-slide .step > img {
    width: 100%;
  }
  .mySwiper .swiper-wrapper .swiper-slide .step > .line-circle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    width: 100%;
  }
  .mySwiper .swiper-wrapper .swiper-slide .step > .line-circle > .line {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ae2020;
    top: 74%;
  }
  .mySwiper .swiper-wrapper .swiper-slide .step > .line-circle > .circle {
    position: relative;
    width: 25px;
    height: 25px;
    margin-top: 45px;
    background-color: white;
    border: 5px solid red;
    margin-bottom: 8px;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  .mySwiper .swiper-wrapper .swiper-slide .step > span {
    color: white;
    font-size: 18px;
    margin-top: 20px;
  }
}

.mySwiper > .swiper-button-next,
.mySwiper > .swiper-button-prev {
  top: 40%;
}

#block1 {
  background-color: #34332f;
}

#block5 {
  background-color: #34332f;
}

.containerr {
  max-width: 1920px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 65px 10px 130px;
}

@media (max-width: 950px) {
  .containerr {
    padding-left: 23px;
    padding-right: 23px;
  }
}

.containerr.block-1 {
  max-width: 1295px;
  margin: 0 auto;
}

.containerr.block-1 > h3 {
  margin-left: 0;
  color: white;
  border-color: white;
}

@media (max-width: 950px) {
  .containerr.block-1 > h3 {
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

.containerr.block-3 {
  max-width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 750px) {
  .containerr.block-3 {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.containerr.block-3 > select {
  display: none;
  -webkit-box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.75);
          box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.75);
}

@media (max-width: 750px) {
  .containerr.block-3 > select {
    display: block;
    background-color: #ae2020;
    color: white;
    border-radius: 21px;
    width: 100%;
    padding: 7px 20px;
  }
}

.containerr.block-3 > h3 {
  margin-left: 0;
}

.containerr.block-3 > .land-block {
  background-image: url("./logo_back-02.png");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 750px) {
  .containerr.block-3 > .land-block {
    display: none;
  }
}

.containerr.block-3 > .land-block > img {
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
  width: 100%;
}

.containerr.block-3 > .land-block > .radio_on_car {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  -webkit-transform: translateY(40%);
          transform: translateY(40%);
}

.containerr.block-3 > .land-block > .radio_on_car > input {
  width: 30px;
  height: 30px;
}

.containerr.block-3 > .land-block > .radio_on_car > label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 0px;
  height: 0px;
  font-size: 0;
  background-color: black;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.containerr.block-3 > .land-block > .radio_on_car:nth-child(2) {
  left: 25%;
  top: 85%;
}

.containerr.block-3 > .land-block > .radio_on_car:nth-child(3) {
  left: 25%;
  top: 72%;
}

.containerr.block-3 > .land-block > .radio_on_car:nth-child(4) {
  left: 50%;
  top: 72%;
}

.containerr.block-3 > .land-block > .radio_on_car:nth-child(5) {
  left: 52%;
  top: 45%;
}

.containerr.block-3 > .land-block > .radio_on_car:nth-child(6) {
  left: 66.5%;
  top: 60%;
}

.containerr.block-3 > .land-block > .radio_on_car:nth-child(7) {
  left: 94%;
  top: 70%;
}

.containerr.block-3 > .land-block > .radio_on_car:nth-child(8) {
  left: 5%;
}

.containerr.block-4 {
  max-width: 1295px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 87px;
}

@media (max-width: 750px) {
  .containerr.block-4 {
    padding-top: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0;
    padding-bottom: 45px;
  }
}

.containerr.block-4 > .left-block {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 30%;
  padding-right: 40px;
}

@media (max-width: 750px) {
  .containerr.block-4 > .left-block {
    width: 100%;
  }
}

.containerr.block-4 > .left-block > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 35px;
}

@media (max-width: 750px) {
  .containerr.block-4 > .left-block > span {
    display: none;
  }
}

.containerr.block-4 > .left-block > span::before {
  content: "";
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: white;
  border: 8px solid #29a8df;
  margin-right: 10px;
}

.containerr.block-4 > .left-block > a {
  color: black;
  text-decoration: none;
}

@media (max-width: 750px) {
  .containerr.block-4 > .left-block > a {
    display: none;
  }
}

.containerr.block-4 > .left-block > .btn-block {
  margin-bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 750px) {
  .containerr.block-4 > .left-block > .btn-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 30px;
  }
}

.containerr.block-4 > .left-block > .btn-block > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 110px;
  border-radius: 15px;
  margin-right: 15px;
  height: 42px;
  background-color: #e3a8a8;
  font-size: 18px;
}

.containerr.block-4 > .left-block > .btn-block > div.active {
  background-color: #ae2020;
  color: white;
}

.containerr.block-4 > .left-block > .swiper {
  width: 70%;
}

.containerr.block-4 > .testtttt {
  width: 0%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  max-width: 880px;
  max-height: 535px;
}

@media (max-width: 750px) {
  .containerr.block-4 > .testtttt {
    width: 100%;
  }
}

.containerr.block-4 > .testtttt > .carSwiper {
  -webkit-box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.75);
          box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  max-height: 535px;
}

@media (max-width: 750px) {
  .containerr.block-4 > .testtttt > .carSwiper {
    margin-bottom: 40px;
  }
}

@media (max-width: 500px) {
  .containerr.block-4 > .testtttt > .carSwiper {
    max-height: 250px;
  }
}

.containerr.block-4 > .testtttt > .carSwiper > .swiper-wrapper > .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.containerr.block-4 > .testtttt > .carSwiper > .swiper-wrapper > .swiper-slide > img {
  display: block;
  width: 100%;
  height: 100%;
}

.containerr.block-4 > .testtttt > a {
  display: none;
  color: black;
  text-decoration: none;
}

@media (max-width: 750px) {
  .containerr.block-4 > .testtttt > a {
    display: block;
    text-align: center;
    font-size: 16px;
  }
}

.containerr.block-4 > a {
  display: none;
}

@media (max-width: 750px) {
  .containerr.block-4 > a {
    text-decoration: none;
    color: black;
    display: block;
  }
}

.containerr.block-4 > iframe {
  margin-top: 100px;
  width: 100%;
  height: 45vw;
  border-radius: 10px;
}

.containerr.block-5 {
  max-width: 1600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0;
}

.containerr.block-5 > h3 {
  margin-bottom: 10%;
  margin-left: 0;
  color: white;
  border-color: white;
}

.containerr > h3 {
  margin-left: 150px;
  font-size: 30px;
  font-weight: bold;
  border-top: 3px solid #000;
  width: 120px;
  margin-bottom: 50px;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
}

.intro > img {
  width: 63%;
  max-width: 800px;
  max-height: 480px;
}

@media (max-width: 950px) {
  .intro > img {
    width: 100%;
  }
}

.intro > .text-intro {
  background-color: rgba(255, 255, 255, 0.6);
  width: 37%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 58px 40px;
  max-height: 330px;
}

@media (max-width: 950px) {
  .intro > .text-intro {
    width: 100%;
    background-color: white;
  }
}

.intro > .text-intro > span {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
  white-space: nowrap;
}

@media (max-width: 1290px) {
  .intro > .text-intro > span {
    margin-bottom: 20px;
  }
}

.intro > .text-intro > ul {
  font-size: 20px;
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

.intro > .text-intro > ul > li {
  margin-bottom: 32px;
}

@media (max-width: 1290px) {
  .intro > .text-intro > ul > li {
    margin-bottom: 20px;
  }
}

.intro.top {
  margin-bottom: 200px;
}

@media (max-width: 950px) {
  .intro.top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.intro.top .text-intro {
  -webkit-transform: translateX(-7%);
          transform: translateX(-7%);
}

@media (max-width: 950px) {
  .intro.top .text-intro {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@media (max-width: 950px) {
  .intro.bot {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.intro.bot .text-intro {
  -webkit-transform: 0;
          transform: 0;
}

.fa,
.fas {
  padding: 0 15px 0 10px;
}
/*# sourceMappingURL=indexlai.css.map */